/**************************/
/* Overview table styling */
/**************************/

#postgresql-fts-overview table meter {
  width: 100%;
}

#postgresql-fts-overview table td{
  vertical-align: top;
}

#postgresql-fts-overview table td:nth-last-child(-n+2){
  vertical-align: middle;
}

#postgresql-fts-overview table .item-list ul.columns,
#postgresql-fts-overview table .item-list ul.columns li,
#postgresql-fts-overview table .item-list ul.instances,
#postgresql-fts-overview table .item-list ul.instances li{
  list-style-type: circle;
  list-style-position: inside;
  margin: 0;
}

#postgresql-fts-overview table .item-list ul.stats,
#postgresql-fts-overview table .item-list ul.stats li{
  list-style-type: none;
  margin: 0;
}

#postgresql-fts-overview table th.field{
  width: 20%;
}

#postgresql-fts-overview table th.stats {
  width: 20%;
}

#postgresql-fts-overview table th.operations {
  width: 20%;
}

#postgresql-fts-overview table a.button.delete{
  color: #fff;
  border: none;
  background: #f96363;
  background: -moz-linear-gradient(top, #f96363 0%, #ff3f3f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f96363), color-stop(100%,#ff3f3f));
  background: -webkit-linear-gradient(top, #f96363 0%,#ff3f3f 100%);
  background: -o-linear-gradient(top, #f96363 0%,#ff3f3f 100%);
  background: -ms-linear-gradient(top, #f96363 0%,#ff3f3f 100%);
  background: linear-gradient(to bottom, #f96363 0%,#ff3f3f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f96363', endColorstr='#ff3f3f',GradientType=0 );
}